# Text Analytics using NLTK

# Basic Text Processing Tasks

In [1]:
text1 = "Currentlty PTI won the Election 2018, with 120 seats almost"
text1

'Currentlty PTI won the Election 2018, with 120 seats almost'

In [2]:
len(text1)

59

In [3]:
text2=text1.split(' ')
text2

['Currentlty',
 'PTI',
 'won',
 'the',
 'Election',
 '2018,',
 'with',
 '120',
 'seats',
 'almost']

In [4]:
len(text2)

10

In [6]:
#Finding specific words
[w for w in text2 if len(w) > 3]

['Currentlty', 'Election', '2018,', 'with', 'seats', 'almost']

In [7]:
[w for w in text2 if w.istitle()]

['Currentlty', 'Election']

In [8]:
[w for w in text2 if w.endswith('s')]

['seats']

In [9]:
#Finding unique words: using set()
text3 = 'To be or not to be'
text3

'To be or not to be'

In [10]:
text4 = text3.split(' ')
text4

['To', 'be', 'or', 'not', 'to', 'be']

In [11]:
len(text4)

6

In [12]:
len(set(text4))

5

In [13]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [14]:
len(set([w.lower() for w in text4]))

4

In [15]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

In [17]:
#From words to characters
text5 = 'ouagadougou'
text6 = text5.split('ou')
text6

['', 'agad', 'g', '']

In [18]:
'ou'.join(text6)

'ouagadougou'

In [19]:
list(text5)

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [20]:
[c for c in text5]

['o', 'u', 'a', 'g', 'a', 'd', 'o', 'u', 'g', 'o', 'u']

In [21]:
#cleaning text
text8 ='  A quick brown fox jumped over the lazy dog. '
text8.split(' ')

['',
 '',
 'A',
 'quick',
 'brown',
 'fox',
 'jumped',
 'over',
 'the',
 'lazy',
 'dog.',
 '']

In [23]:
text9 = text8.strip()

In [24]:
text9.split(' ')

['A', 'quick', 'brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog.']

In [25]:
#Handling Larger Texts Reading files line by line
file = open('data.txt', 'w')
file.write('Pakistan Election was Fair and Free\n')
file.close()

In [26]:
file = open('data.txt')

In [27]:
file

In [28]:
file.seek(0)

0

In [29]:
text12 = file.read()

In [30]:
text12

'Pakistan Election was Fair and Free\n'

In [31]:
len(text12)

36

In [32]:
text13 = text12.splitlines()
len(text13)

1

In [33]:
text13[0]

'Pakistan Election was Fair and Free'

In [ ]:
#How to find the Frequency of terms

In [34]:
text13

['Pakistan Election was Fair and Free']

In [35]:
from nltk import FreqDist

In [36]:
dist=FreqDist(text13)

In [37]:
len(dist)

1

In [39]:
vocab1 = dist.keys()

In [40]:
list(vocab1)[:10]

['Pakistan Election was Fair and Free']

In [42]:
freqwords = [w for w in vocab1 if len(w) > 5 and dist[w] > 10]
freqwords

[]

In [43]:
#Normalization and Stemming
input1 = "List listed lists listing listings"
words1 = input1.lower().split(' ')

In [44]:
words1

['list', 'listed', 'lists', 'listing', 'listings']

In [45]:
from nltk import PorterStemmer

In [46]:
import nltk

In [47]:
porter = nltk.PorterStemmer()

In [48]:
[porter.stem(t) for t in words1]

['list', 'list', 'list', 'list', 'list']

In [81]:
#another example 
example_words=['python','pythoner','pythoning','pythoned','pythonly']

In [82]:
example_words

['python', 'pythoner', 'pythoning', 'pythoned', 'pythonly']

In [87]:
ps=PorterStemmer()

In [88]:
for w in example_words:
    print(ps.stem(w))

python
python
python
python
pythonli

In [89]:
new_text="it is very important to be pythonly while you are engineering with some pythoning"

In [90]:
new_text

'it is very important to be pythonly while you are engineering with some pythoning'

In [92]:
words=word_tokenize(new_text)

In [93]:
for w in words:
     print(ps.stem(w))

it
is
veri
import
to
be
pythonli
while
you
are
engin
with
some
python

In [49]:
#Lemmmatization 
udhr = nltk.corpus.udhr.words('English-Latin1')
udhr[:20]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'rights',
 'of']

In [50]:
[porter.stem(t) for t in udhr[:20]]

['univers',
 'declar',
 'of',
 'human',
 'right',
 'preambl',
 'wherea',
 'recognit',
 'of',
 'the',
 'inher',
 'digniti',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalien',
 'right',
 'of']

In [51]:
WNlemma = nltk.WordNetLemmatizer()

In [52]:
[WNlemma.lemmatize(t) for t in udhr[:20]]

['Universal',
 'Declaration',
 'of',
 'Human',
 'Rights',
 'Preamble',
 'Whereas',
 'recognition',
 'of',
 'the',
 'inherent',
 'dignity',
 'and',
 'of',
 'the',
 'equal',
 'and',
 'inalienable',
 'right',
 'of']

In [95]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [96]:
print(lemmatizer.lemmatize("cats"))

cat

In [97]:
print(lemmatizer.lemmatize("engineering"))

engineering

In [98]:
print(lemmatizer.lemmatize("rocks"))

rock

In [102]:
print(lemmatizer.lemmatize("better",pos="a"))

good

In [53]:
#tokenizaton 
text11 = "Children shouldn't drink a sugary drink before bed."
text11.split(' ')

['Children', "shouldn't", 'drink', 'a', 'sugary', 'drink', 'before', 'bed.']

In [54]:
nltk.word_tokenize(text11)

['Children',
 'should',
 "n't",
 'drink',
 'a',
 'sugary',
 'drink',
 'before',
 'bed',
 '.']

In [55]:
#Scentence spliting
text12 = 'This is the first sentence. A gallon of milk in the U.S. costs $2.99. Is this the third sentence? Yes, it is!'

In [56]:
sentences = nltk.sent_tokenize(text12)
len(sentences)

4

In [57]:
sentences

['This is the first sentence.',
 'A gallon of milk in the U.S. costs $2.99.',
 'Is this the third sentence?',
 'Yes, it is!']

In [58]:
from nltk.book import *

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

In [71]:
from nltk.corpus import stopwords

In [73]:
from nltk.tokenize import word_tokenize

In [74]:
example_scentence="This is an example showing off stop word filtration."

In [75]:
example_scentence

'This is an example showing off stop word filtration.'

In [76]:
stop_words=set(stopwords.words("english"))
print(stop_words)

{"mightn't", 'being', 'yours', 'our', 'from', 'wasn', 't', 'your', 'above', 'those', "mustn't", 'all', 'same', "won't", 'through', "didn't", 'about', "that'll", 'd', 'other', 'you', "doesn't", 'ain', 'once', 's', 'than', 'so', 'on', 'y', 'haven', 'because', 'doesn', 'an', 'ma', "you'll", 'have', "you've", 'do', 'theirs', 'each', "don't", 'why', 'be', 'into', 'the', 'here', 'had', 'too', 'me', 'with', "it's", 'under', 'after', 'ourselves', 'few', 'their', 'between', 'just', 'any', 'as', 'her', 've', 'weren', 'herself', 'will', "she's", 'hasn', "needn't", 'this', 'nor', "wasn't", 'won', 'are', 'him', 'having', 'don', 'it', 'then', 'doing', 'there', 'by', 'at', 'own', "wouldn't", 'has', 'in', 'such', "shouldn't", 'very', 'its', 'not', 'll', 'for', 'mightn', 'can', "hadn't", 'hadn', 're', "haven't", "isn't", 'below', "couldn't", 'only', 'who', 'were', 'yourself', 'now', 'both', 'again', "hasn't", 'they', 'hers', 'a', "weren't", 'my', 'yourselves', 'did', 'up', 'should', "you'd", 'whom', 'or', 'what', 'didn', 'before', 'is', 'where', 'but', 'shouldn', 'she', 'some', 'themselves', 'that', 'isn', 'myself', 'when', 'am', 'himself', 'most', "should've", 'while', 'was', "aren't", 'no', 'm', 'couldn', 'mustn', 'down', 'shan', "you're", 'itself', 'his', 'we', 'against', 'out', 'more', 'he', 'of', 'during', 'and', 'off', "shan't", 'until', 'to', 'how', 'which', 'these', 'aren', 'ours', 'further', 'them', 'o', 'been', 'i', 'over', 'does', 'needn', 'if', 'wouldn'}

In [77]:
words=word_tokenize(example_scentence)

In [79]:
filtered_sentence=[w for w in words if not w in stop_words]
print(filtered_sentence)

['This', 'example', 'showing', 'stop', 'word', 'filtration', '.']

In [59]:
#Regular Expression 
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [60]:
# find the number of characters for each string in df['text']
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [61]:
# find the number of tokens for each string in df['text']
df['text'].str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [62]:
# find which entries contain the word 'appointment'
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

In [63]:
# find how many times a digit occurs in each string
df['text'].str.count(r'\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [64]:
# find all occurances of the digits
df['text'].str.findall(r'\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [65]:
# group and find the hours and minutes
df['text'].str.findall(r'(\d?\d):(\d\d)')

0               [(2, 45)]
1              [(11, 30)]
2               [(7, 00)]
3              [(11, 15)]
4    [(08, 10), (09, 00)]
Name: text, dtype: object

In [66]:
# replace weekdays with '???'
df['text'].str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [67]:
# replace weekdays with 3 letter abbrevations
df['text'].str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [68]:
# create new columns from first match of extracted groups
df['text'].str.extract(r'(\d?\d):(\d\d)')

C:\Users\maz\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  from ipykernel import kernelapp as app

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [69]:
# extract the entire time, the hours, the minutes, and the period
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

In [70]:
# extract the entire time, the hours, the minutes, and the period with group names
df['text'].str.extractall(r'(?P<time>(?P<hour>\d?\d):(?P<minute>\d\d) ?(?P<period>[ap]m))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am